/*
    Author: Sophie Stroink
    Date: January 12, 2018

    Filename: formStyles.css
    supporting files: contact.htm


*/
/*Web fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/*Form Styles*/
form {
    /* width needs to be adjusted for mobile */
    width: 800px;
    margin: 0 auto;
    text-align: center;
   
}

/*Fielset styles*/
fieldset{
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1.1em;
    padding-left: 2em;
    background: rgb(84,90,51);
    background: rgba(84,90,51,0.8);
}

/*legend styles*/
legend{
    font-size: 0.9em;
}

/*Label Styles*/
label{
    display: block;
    
    clear:left;
    float: left;
    width: 10%;
    margin: 5px 5px 5px 5px;
    
    font-family: 'Oswald', sans-serif;
    color: #bc9aa1;
    font-size: 120%
    
}


/*Input Styles*/
input{
    display: block;
    float: left;
    width: 50%;
    margin: 5px 0px 5px 0px;
    
}

/*Textarea Styles*/
textarea{
    display: block;
    float: left;
    width: 600px;
    margin: 5px 0px 5px 0px;
    height: 100px;
    
}

/*Highlights around the focused area*/
input:focus, textarea:focus {
	box-shadow: 0 0 20px rgba(81, 203, 238, 1); 
}


/*Images nested in Form Styles*/
form img {
    display: block;
    float: left; /*Use of float*/
    margin: 5px 0px 5px 0px;    
}


/*Submit "send message" button styles*/
input[type="submit"]{
    position: absolute; /* Use of Position*/
    margin-top: 180px;
    margin-left: 230px;
    width: 150px;
    text-align: center;
    
    /*margin: 0px auto 0px auto;*/
}

/*Validation Styles*/
/* use of e1, e2, e3 selector*/
input:focus, select:focus, textarea:focus{
    background-color: rgb(220,255,220);
}

/* testing with .validate class identifier*/
/* Valid Input Styles*/
/* uses .validate so that a checkmark doesnt show up in the "send message" button*/
input:focus:valid.validate, textarea:focus:valid.validate{
    background: rgb(220,255,220) url(img/okay.png) bottom right no-repeat;
    
    -o-background-size:contain;
    -moz-background-size:contain;
    -webkit-background-size: contain;
    background-size: contain; /*Background size*/
}

/*Invalid Input Styles*/
input:focus:invalid.validate{
    background: rgb(255,232,233) url(img/warning.png) bottom right no-repeat;
    
    -o-background-size:contain;
    -moz-background-size:contain;
    -webkit-background-size: contain;
    background-size: contain;
}

@media screen and (max-width: 501px){
    
    p{
        margin-left: 10%;
        margin-right: 10%;
    }
    form{
        display: block;
       
    }
    
    fieldset{
        display: block;
        width: 200px;
        height: 400px;
        margin-left: 7%;
    }
    
    label{
        display: block;
    
        clear:left;
        float: left;
        margin: 1px 1px 1px 1px;
    
        font-family: 'Oswald', sans-serif;
        color: #bc9aa1;
        font-size: 12px;
    
    }
    input{
        display: block;
        float: left;
        width: 300px;
        margin: 5px 0px 5px 0px;
    }
    
    textarea{
        display: block;
        float: left;
        width: 300px;
        margin: 5px 0px 5px 0px;
        height: 100px;
    
    }
    /*Submit "send message" button styles*/
    input[type="submit"]{
        display: block;
        position: absolute;
        top: 350px;
        right: 160px;

    
    }


}

